In [ ]:
#List operation: 1

list1 = [x for x in range(1, 11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#List operation: 2

list1 = [x for x in range(1, 11)]

list1.extend([x ** 2 for x in list1])

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
numbers = list(range(1, 11))

for num in range(1, 11):
    numbers.append(num ** 2)
print( sum(numbers))

TypeError: 'int' object is not callable

In [21]:
#Tuple operation: 1

tuple_even = tuple(x for x in range(2, 12, 2))

print(tuple_even)

(2, 4, 6, 8, 10)

In [22]:
#Tuple operation: 2

tuple_even = tuple(x for x in range(2, 12, 2))
print(tuple_even)

product = 1
for num in tuple_even:
    product *= num

print(product)

(2, 4, 6, 8, 10)
3840

In [24]:
#Set operation: 1

set1 = {x for x in range(1, 11) if x % 2 != 0}
set2 = {x for x in range(1, 11) if x % 2 != 0}

print("Set 1 of odd numbers:", set1)
print("Set 2 of odd numbers:", set2)

Set 1 of odd numbers: {1, 3, 5, 7, 9}
Set 2 of odd numbers: {1, 3, 5, 7, 9}

In [25]:
#Set operation: 2

set1 = {x for x in range(1, 11) if x % 2 != 0}
set2 = {x for x in range(1, 11) if x % 2 != 0}

print("Set 1 of odd numbers:", set1)
print("Set 2 of odd numbers:", set2)

union_set = set1 | set2

print(union_set)

Set 1 of odd numbers: {1, 3, 5, 7, 9}
Set 2 of odd numbers: {1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

In [27]:
#Set operation: 3

set1 = {x for x in range(1, 11) if x % 2 != 0}
set2 = {x for x in range(1, 11) if x % 2 != 0}

print("Set 1 of odd numbers:", set1)
print("Set 2 of odd numbers:", set2)

intersection_set = set1 & set2

print(intersection_set)

Set 1 of odd numbers: {1, 3, 5, 7, 9}
Set 2 of odd numbers: {1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

In [31]:
#Dictionary operation: 1

lowercase_dict = {}

for char in 'abcde':
    lowercase_dict[char] = ord(char)

In [32]:
#Dictionary operation: 2

lowercase_dict = {}

for char in 'abcde':
    lowercase_dict[char] = ord(char)

print(lowercase_dict)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [ ]:
#Functional programming: 1

def square(x):
    return x * x

In [33]:
#Functional programming: 2

def square(x):
    return x * x

numbers = list(range(1, 11))

squared_numbers = map(square, numbers)

print(list(squared_numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]